# AI
.claude/

# IDEs & Cache
.idea/
.vs/
.venv/

# VCS
.svn/

# Game Assets
Assets/*
!Assets/CMakeLists.txt

!Assets/Materials/
Assets/Materials/*
!Assets/Materials/Suzanne_*.bmaterial

!Assets/Meshes/
Assets/Meshes/*
!Assets/Meshes/Suzanne.fbx

!Assets/Textures/
Assets/Textures/*
!Assets/Textures/Suzanne_*.png

# Build
Build/

# Game code.
Game/

# Internal files.
TODO.md
